<footer class="bg-dark  container-fluid  fixed-bottom  w-75 p-3  w-100 p-3 " style="height: 100px;">
    <div class=" container d-flex justify-content-evenly">
        <div><b class="text-light">powered by guitt/zoom</b></div>
        <div >
            <p>Contatos:</p>
        </div>
        <div>
            <h5 class="text-light"><strong>Contatos:</strong></h5>
        </div>
        <div>
            <h5 class="text-light"><strong>Sociais:</strong></h5>
        </div>
    </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b78811fb0d.js" crossorigin="anonymous"></script>

</body>

</html>